@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
  height: 100%;
}
#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.container {
  height: 100vh;
  width: 100vw;
}
.login-container {
  margin: 0;
  height: 100vh;
  width: 100wh;
  display: flex;
}
h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card {
  padding: 2em;
  display: flex;
  flex-direction: row;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.navbar {
  background-color: #101c64;
  height: 100px;
  border-bottom: 2px solid #333;
}

.navbar a {
  color: #ffffff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #101c64;
  background-size: cover;
  flex: 1;
  background-image: url(src/assets/background-overlay.jpg);
  background-blend-mode: overlay;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 50%;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 38px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form button {
  background-color: #eb5849;
  color: white;
}
.logout {
  background-color: #eb5849;
}

.form input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #707070;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
}

.bold {
  font-weight: bold;
}

.navbar .h1 {
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;

  padding-left: 20px;
}

.navbar button {
  background-color: #eb5849;
  margin-right: 25px;
}

.single-project {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
}

@media (max-width: 800px) {
  .login-background {
    display: none;
  }
  .login-container {
    justify-content: center;
  }
}

@media screen and (max-width: 970px) {
  .card {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .card {
    flex-direction: column;
    align-items: center;
  }
}
